@{
	ViewData["Title"] = "Repositorio GitHub";
}
<h1>@ViewData["Title"]</h1>

<p>El presente proyecto ha sido publicado en GitHub en acorde a las instrucciones del Examen Parcial; el enlace se proporciona <a href="">aqui</a>.</p>
