@{
	ViewData["Title"] = "Repositorio GitHub";
}
<h1>@ViewData["Title"]</h1>

<p>El presente proyecto ha sido publicado en GitHub en acorde a las instrucciones del Examen Parcial; el enlace se proporciona <a href="https://github.com/Fernando2413/PrimerParcial-Carlos.241403.git">aqui</a>.</p>
