@{
    ViewData["Title"] = "Pagina de Inicio";
}
<h1>@ViewData["Title"]</h1>

<p>Bienvenido a la aplicación del primer examen parcial del curso de Programación III, selecciona la pestaña <a>"Calcular"</a> para comenzar.</p>
